* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 1500px) {
  html, body {                 
          margin-left:2%;
          margin-right:2%;                 
}
}
@media only screen and (min-width:1501px) {
html, body {
      margin-left:5%;
      margin-right:5%;
}
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: #f6f6f6;
}

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 5rem;
}

/* align text in footer */
.alignleft {
  float: left;
}

/*align text in footer */
.alignright {
  float: right;
}

footer {
  background-color: #46aae6;
  color: white;
  height: 5rem;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* general for all tabs */
.tabcontent {
  width: 70%;
  margin: 1rem auto 1rem auto;
}
